@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1a1a1a;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url(/background.webp);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overscroll-behavior-y: none;
  overflow-x: auto;
}

.nav-link {
  color: white;
  font-weight: bold;
  font-size: 0.85em;
  margin-left: 1em;
  margin-right: 1em;
  letter-spacing: 0.2em;
  text-decoration: none;
  transition-property: all;
  transition-timing-function: linear;
  transition-duration: 150ms;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  &:hover {
    color: #bbab8c;
  }
}
